---
import type { Tour } from "~/types";
import Icon from "~/components/Icon.astro";

const { tour } = Astro.props as { tour: Tour };
---

<div class="rounded-md ring-1 ring-gray-800 w-full p-4 my-8 text-base">
  <h3 class="font-semibold mb-4 text-lg">Tour Overview</h3>
  <dl class="grid grid-cols-2 sm:grid-cols-3 gap-4">
    <div class="flex items-start gap-x-2">
      <Icon name="calendar" class="size-5 mt-0.5 text-blue-600" />
      <div>
        <dt class="text-gray-500">Duration</dt>
        <dd class="font-semibold">
          {tour.data.general.duration.days} day{
            tour.data.general.duration.days > 1 ? "s" : ""
          }
          {
            tour.data.general.duration.nights > 0 &&
              ` / ${tour.data.general.duration.nights} night${tour.data.general.duration.nights > 1 ? "s" : ""}`
          }
        </dd>
      </div>
    </div>

    <div class="flex items-start gap-x-2">
      <Icon name="users" class="size-5 mt-0.5 text-green-600" />
      <div>
        <dt class="text-gray-500">Group Size</dt>
        <dd class="font-semibold">
          {tour.data.general.groupSize.min}-{tour.data.general.groupSize.max} people
        </dd>
      </div>
    </div>

    <div class="flex items-start gap-x-2">
      <Icon name="car" class="size-5 mt-0.5 text-orange-600" />
      <div>
        <dt class="text-gray-500">Transportation</dt>
        <dd class="font-semibold">{tour.data.logistics.transportation}</dd>
      </div>
    </div>

    <div class="flex items-start gap-x-2">
      <Icon name="user-check" class="size-5 mt-0.5 text-purple-600" />
      <div>
        <dt class="text-gray-500">Guide</dt>
        <dd class="font-semibold">{tour.data.experience.guideType}</dd>
      </div>
    </div>

    <div class="flex items-start gap-x-2">
      <Icon name="building" class="size-5 mt-0.5 text-indigo-600" />
      <div>
        <dt class="text-gray-500">Accommodation</dt>
        <dd class="font-semibold">{tour.data.logistics.accommodationType}</dd>
      </div>
    </div>

    <div class="flex items-start gap-x-2">
      <Icon name="tools-kitchen-2" class="size-5 mt-0.5 text-red-600" />
      <div>
        <dt class="text-gray-500">Meals</dt>
        <dd class="font-semibold">{tour.data.logistics.mealsIncluded}</dd>
      </div>
    </div>
  </dl>
</div>
