---
import { siteName } from "~/data/config";
import { menuNavigation, menuService, menuLegal } from "~/data/menus";
import NewsletterFooter from "./forms/NewsletterFooter.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import SocialMediaIcons from "./SocialMediaIcons.astro";
import logoGetInside from "~/assets/images/logo-getinside-512x512.png";
const year = new Date().getFullYear();

// Ensure all menu objects have an items array, even if empty
const navigation = menuNavigation?.items || [];
const service = menuService?.items || [];
const legal = menuLegal?.items || [];
---

<footer class="bg-gray-50">
  <div class="container py-16">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div>
        <a href="/" class="flex items-center">
          <Image
            src={logoGetInside}
            alt="Get Inside Colombia - Authentic Colombian Tours"
            class="h-12 lg:h-46 w-auto"
          />
        </a>
      </div>
      <div
        class="mt-16 grid grid-cols-1 sm:grid-cols-2 gap-8 xl:col-span-2 xl:mt-0"
      >
        <div class="md:grid md:grid-cols-2 md:gap-8">
          {
            navigation.length > 0 && (
              <div>
                <span class="text-base font-semibold">
                  <Icon
                    name="tabler:compass"
                    class="size-5 inline-block mr-1"
                  />
                  {menuNavigation?.prettyName || "Navigation"}
                </span>
                <ul role="list" class="mt-6 space-y-4">
                  {navigation.map((item) => (
                    <li>
                      <a
                        href={item.url}
                        class="text-base transition text-gray-600 hover:text-gray-800 flex items-center"
                      >
                        <Icon name="tabler:chevron-right" class="size-4 mr-1" />
                        {item.name}
                      </a>
                    </li>
                  ))}
                </ul>
              </div>
            )
          }
          {
            service.length > 0 && (
              <div class="max-md:mt-10">
                <span class="text-base font-semibold">
                  <Icon name="tabler:tool" class="size-5 inline-block mr-1" />
                  {menuService?.prettyName || "Services"}
                </span>
                <ul role="list" class="mt-6 space-y-4">
                  {service.map((item) => (
                    <li>
                      <a
                        href={item.url}
                        class="text-base transition text-gray-600 hover:text-gray-800 flex items-center"
                      >
                        <Icon name="tabler:chevron-right" class="size-4 mr-1" />
                        {item.name}
                      </a>
                    </li>
                  ))}
                </ul>
              </div>
            )
          }
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          {
            legal.length > 0 && (
              <div class="max-md:mt-10">
                <span class="text-base font-semibold">
                  <Icon name="tabler:scale" class="size-5 inline-block mr-1" />
                  {menuLegal?.prettyName || "Legal"}
                </span>
                <ul role="list" class="mt-6 space-y-4">
                  {legal.map((item) => (
                    <li>
                      <a
                        href={item.url}
                        class="text-base transition text-gray-600 hover:text-gray-800 flex items-center"
                      >
                        <Icon name="tabler:chevron-right" class="size-4 mr-1" />
                        {item.name}
                      </a>
                    </li>
                  ))}
                </ul>
              </div>
            )
          }
        </div>
      </div>
    </div>
    <div
      class="mt-16 border-t border-gray-800/10 pt-8 sm:mt-20 lg:mt-24 lg:flex lg:items-center lg:justify-between"
    >
      <div>
        <span class="text-base font-semibold">
          <Icon name="tabler:mail" class="size-5 inline-block mr-1" />
          Subscribe to our newsletter
        </span>
        <p class="mt-2 text-sm text-gray-600">
          The latest news, articles, and resources, sent to your inbox weekly.
        </p>
      </div>
      <NewsletterFooter />
    </div>
    <div
      class="mt-8 border-t border-gray-800/10 pt-8 md:flex md:items-center md:justify-between"
    >
      <div class="flex gap-x-6 md:order-2">
        <SocialMediaIcons />
      </div>
      <p class="mt-8 text-sm/6 text-gray-600 md:order-1 md:mt-0">
        <Icon name="tabler:copyright" class="size-4 inline-block mr-1" />
        {year}
        {siteName}. All rights reserved.
      </p>
    </div>
  </div>
</footer>
